<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		classpath:/org/springframework/beans/factory/xml/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context 
		classpath:/org/springframework/context/config/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop 
		classpath:/org/springframework/aop/config/spring-aop-4.3.xsd"> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
 
	<!-- ★bean的作用域
		可以通过scope属性来指定bean的作用域
			-singleton：默认值。当IOC容器一创建就会创建bean的实例，而且是单例的，每次得到的都是同一个
			-prototype：原型的。当IOC容器一创建不再实例化该bean，每次调用getBean方法时再实例化该bean，而且每调用一次创建一个对象
			-request：每次请求实例化一个bean
			-session：在一次会话中共享一个bean
	 -->
	<!--<context:annotation-config />
	<context:component-scan base-package="com.study.aop"/>  &lt;!&ndash; 自动扫描 &ndash;&gt;
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean id="calcService" class="com.study.aop.CalcServiceImpl"></bean>-->

	<bean id="a" class="com.study.circulardepend.A" scope="singleton">
		<property name="b" ref="b"/>
	</bean>

	<bean id="b" class="com.study.circulardepend.B" scope="singleton">
		<property name="a" ref="a"/>
	</bean>
</beans>